
log /var/log/vz/vz.log

spool /var/spool/vz/

# if this is set (and > 0), impulses are not sent immediately, but summed up and sent in intervals instead.
# 5s resolution is usually more than enough, and it massively reduced database size and load for high power situations.
interval 5

device /dev/input/by-id/usb-Logitech_USB_Optical_Mouse-event-mouse

# S0 impulses are usually about 20..30ms long (at least with my meters). as we know that a release event will follow
# shortly after a press event, we just wait some time before doing a read, so both events can be read at once
# (together with their corresponding SYN events).
# with a sampling intervall of 8ms, this will be 32ms, which we round up a bit.
read_wait 40

# standard S0 device for a single tariff
#button <button> <name> <uuid> <value>
button M Haushalt xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx 1.25

# S0 with peak/off-peak tariff
# WP_HT is the peak tariff, which only used if button R is not active
# when R is active (connected to the off-peak switch), WP_NT is used
#button <S0 button> <peak name> <peak uuid> <value> [<off-peak button> <off-peak name> <off-peak uuid>] 
button L WP_HT aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa 1.25 R WP_NT bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb

